body{
  font-family: "Inter", sans-serif,
}

header{
    z-index: 10001 !important;
}
.btn-primary{
  @apply px-6 py-3 bg-[#4CAF4F] text-white rounded-lg transition-transform transform hover:scale-110 hover:bg-white hover:text-[#4CAF4F] shadow-lg hover:shadow-2xl duration-300 ease-in-out;
}
.page-top{
  margin-top: 13rem;
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateY(30px) scale(1.1);
  }
  100% {
      opacity: 1;
      transform: translateY(0) scale(1);
  }
}

.banner-animation {
  animation: slideIn 1.2s ease-out forwards;
  transition: transform 0.5s ease;
}

.banner-container {
  overflow: hidden; /* Prevent overflow during animation */
}
.movingTexts h1 {
  display: inline-block; /* Ensures the h1 moves as an inline element */
  animation: moving 35s linear infinite; /* Continuous movement */
  white-space: nowrap; /* Prevents the text from wrapping to a new line */
}

@keyframes moving {
  from {
    transform: translateX(50%); /* Start from right side (off-screen) */
  }
  to {
    transform: translateX(-100%); /* Move to the left side (off-screen) */
  }
}


/* Fade-in animation for blog banner */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}





